<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="xUnit" />
    <plugins>
      <add name="Cucumber.Pro" type="Runtime" />
    </plugins>
    <runtime>
      <dependencies>
        <register type="Cucumber.Pro.SpecFlowPlugin.SampleProject.XUnitTraceListener, Cucumber.Pro.SpecFlowPlugin.SampleProject"
             as="TechTalk.SpecFlow.Tracing.ITraceListener, TechTalk.SpecFlow" />
      </dependencies>
    </runtime>
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
